

<div id="cover-spin"></div>
<div style="width: 100%; height: 100vh" *ngIf="filename" (keyup.esc)="goback()">

<ng2-pdfjs-viewer #bigPdfViewer [pdfSrc]="service.pdfdata" downloadFileName="mySample" zoom="auto"
viewerId="MyID" (onDocumentLoad)="testPagesLoaded($event)" (onPageChange)="testPageChange($event)"
(onBeforePrint)="testBeforePrint()" (onAfterPrint)="testAfterPrint()"></ng2-pdfjs-viewer>

 


</div>

<div *ngIf="service.editbool" class="back-btn-wrapper home" (click)="home()">

  <span>HOME</span>
</div>
<div class="back-btn-wrapper" (click)="goback()">

    <i class="fa fa-arrow-left"></i> 
  </div>






