<div class="mainwrapper">
    <div class="border-box">
        <span>Income Last Year</span>
        <div class="box-square">
            <div class="navbar">
                <h1>₱1,000,500</h1>
                <h1>100</h1>
            </div>
        </div>
        <span>Your Cash now</span>
        <div class="box-square">
            <div class="navbar">
                <h1>₱90,500</h1>
                <h1>100</h1>
            </div>
        </div>
        <span>Recent Income</span>
        <div class="box-square">
            <div class="navbar">
                <h1>₱20,500</h1>
                <h1>100</h1>
            </div>
        </div>
    </div>
    <app-report></app-report>

</div>
