<div class="head" id="head">
    <div class="timestamp">
        <span>{{timestamp}}</span>

    </div>
    <!-- <div id="logo">
      
       
   
   <ul>
       <li></li>
      
       <li><div class="sign">
           
        <a><small  ><u (click)="menu('certlisting')">HOME</u></small></a>  <a><small *ngIf="usershow" ><u (click)="menu('user')">USERS</u></small></a><a><small *ngIf="usershow" ><u (click)="menu('extension')">MEDICAL CERTIFICATES</u></small></a><small (click)="out()" ><u>SIGN-OUT</u></small>
        
    </div></li> -->
      
   <!-- </ul> -->
   
   
       
   
    <!-- </div> --> 
   </div>
   