<div class="head" id="head">
    <mat-toolbar class="head-container">
        <button mat-button (click)="sidenavigate.toggle()" class='buttonmenu'><mat-icon>menu</mat-icon></button> 
        <span class="example-spacer"></span>
        <div class="timestamp">
            <span>{{timestamp}}</span>
        </div>
        <mat-option (click)="signout()"><mat-icon class="icons">logout</mat-icon>SIGN OUT</mat-option>
      </mat-toolbar>
      <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
        <mat-sidenav #sidenavigate mode="push">
            <mat-nav-list style="width: 15vh;">
                <mat-list-item mat-stroked-button class="fontad" [routerLink]="['/admin-home/spreadsheet/lodis']" routerLinkActive="router-link-active" ><mat-icon class="icons">dashboard</mat-icon> Dashboard</mat-list-item>
                <mat-list-item mat-stroked-button class="fontad" [routerLink]="['/admin-home/try']" routerLinkActive="router-link-active" ><mat-icon class="icons">directions-run</mat-icon>try</mat-list-item>
                <mat-list-item mat-stroked-button class="fontad" routerLink="charts" ><mat-icon class="icons">area_chart</mat-icon>Charts</mat-list-item>
                <mat-list-item mat-stroked-button class="fontad" [routerLink]="['/admin-home/chat']" routerLinkActive="router-link-active"><mat-icon class="icons">chat</mat-icon>Chats</mat-list-item>
                <mat-list-item mat-stroked-button class="fontad" [routerLink]="['/admin-home/email']">Email</mat-list-item>
                
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content >
            <div style="height:150vh;">
                
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

      
    
    <!-- <div id="logo">
      
       
   
   <ul>
       <li></li>
      
       <li><div class="sign">
           
        <a><small  ><u (click)="menu('certlisting')">HOME</u></small></a>  <a><small *ngIf="usershow" ><u (click)="menu('user')">USERS</u></small></a><a><small *ngIf="usershow" ><u (click)="menu('extension')">MEDICAL CERTIFICATES</u></small></a><small (click)="out()" ><u>SIGN-OUT</u></small>
        
    </div></li> -->
      
   <!-- </ul> -->
   
   
       
   
    <!-- </div> --> 
   </div>
   