$warning:#FFCC00;
.menu-wrap{
    position: relative;
    width: 100%;
    .col-6,.col-3
    { 
        .menu{
            position: relative;
            padding: 0;
            list-style-type: none;
            
            li{
                display: inline-block;
                padding: 10px;
                font-style: 20px;
                margin: 5px;
                cursor: pointer;
                background-color: #ececec;
                font-size: 20px;
            }li:hover{
                background-color: #ccc;
                transition: all 0.2s;

            }
        }
        

    }
}#stars{
    object-fit: scale-down;
    position: absolute;
    z-index: -9999999;
    height: auto;
    width: auto;
    overflow: hidden;
}#wrapper{
    position: relative;

}
.col-contains{
    width: 115rem;
    display: flex;
    justify-content: space-evenly;
    .container-box{
        width: 20vw;
        height: 11vw;
        border-radius: 10px;
        animation: box all 2s ease;
        transition: 300ms;
        padding: 20px;
        background-color: #fff;
        span{
            font-size:2vw;
            font-weight: 600;
        }
        h4{
            font-size: 1.3vw;
        }
        h5{
            font-size: 1.3vw;
        }
        i{
            font-size: 2vw;
        }
        &:hover{
            cursor: pointer;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            animation: box-cons 0.3s ease;
        }
        &:active{
            background-color: $warning;
        }
    }
    
}

