
.menu-wrap{
    position: relative;
    width: 100%;
<<<<<<< Updated upstream
    text-align: center;
    z-index: 888;
    top: 60px;
=======
>>>>>>> Stashed changes
    .col-6,.col-3
    { 
        .menu{
            position: relative;
            padding: 0;
            list-style-type: none;
            
            li{
                display: inline-block;
                padding: 10px;
                font-style: 20px;
                margin: 5px;
                cursor: pointer;
                background-color: #ececec;
                font-size: 20px;
            }li:hover{
                background-color: #ccc;
                transition: all 0.2s;

            }
        }
        

    }
<<<<<<< Updated upstream
    img{
        width: 200px;
        height: 200px;
        display: block;
    }
=======
}#stars{
    object-fit: scale-down;
    position: absolute;
    z-index: -9999999;
    height: auto;
    width: auto;
    overflow: hidden;
}#wrapper{
    position: relative;

>>>>>>> Stashed changes
}
.col-contains{
    width: 115rem;
    display: flex;
    justify-content: space-evenly;
    .container-box{
        width: 26rem;
        height: 12rem;
        border-radius: 10px;
        transform: box all 0.8s ease;
        padding: 20px;
        i{
            font-size: 5vh;
        }
    }
    .container-box:hover{
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

