<div class="main-wrapper">
    <nav class="navbar bg-dark barnav">
        <h1><i class="bi bi-gear-fill"></i>Settings</h1>
        <div class="dark-mode-toggle">
            <ion-toggle> </ion-toggle><i class="bi bi-moon"></i>
        </div>
    </nav>
    <div class="main-content">
        <div class="list-col">
            <ion-item>
                <ion-label position="stacked">Font-size</ion-label>
                <ion-input type="number" value="12" placeholder="Font Size"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Font-color</ion-label>
                <ion-select placeholder="SELECT">
                    <ion-select-option>Black</ion-select-option>
                    <ion-select-option>Red</ion-select-option>
                    <ion-select-option>Gold</ion-select-option>
                    <ion-select-option>Blue</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="search">
                <ion-label position="stacked">Search bar</ion-label>
                <ion-input type="search" placeholder="Search...."></ion-input>
            </ion-item>
        </div>
        <div class="gestures">
            <span>Gestures</span>
        </div>
        <div class="gestures">
            <div class="card">
                <div class="card-header bg-dark text-light">Dark mode</div>
                <div class="card-content">
                    <i class="bi bi-person-square"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Light mode</div>
                <div class="card-content">
                    <i class="bi bi-person-square"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-warning text-dark">Gold mode</div>
                <div class="card-content">
                    <i class="bi bi-person-square"></i>
                </div>
            </div>
        </div>
    </div>
</div>