.main-wrapper{
    .barnav{
        height: auto;
        color: #f8f8f8;
        .dark-mode-toggle{
            display: flex;
            justify-content: flex-start;
            font-size: 30px;
        }
    }





}
