<div id="cover-spin"></div>



<div class="wrapper" id="body-wrapper">



<!-- <div class="form">
  <div class="form__box">
    <h1 class="titile">Welcome to Lodi Admin</h1>
    <div class="form__left">
      <div class="form__padding"><img class="form__image" src="assets/logo.png"/></div>
    </div>
    <div class="form__right">
      <div class="form__padding-right">
        
          <h1 class="form__title">Member Login</h1>
          <input class="form__email" id="email" type="text" placeholder="Email" [(ngModel)]="username" (keyup.enter)="login()"/>
          <input class="form__password" id="password" type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()"/>
          <input class="form__submit-btn btn-warning" type="button" value="LOGIN"  (click)="login()" />
        <span>Forgot <a class="form__link" href="#">Username</a><a>/</a><a class="form__link" href="#">Password</a></span>
        <p> <a class="form__link" href="#">Create your account</a></p>
      </div>
    </div>
  </div>
</div> -->

  <!-- <div class="star-hover">
    <i class="bi bi-star-fill fill-the-star" id="starla" data-toggle="tooltip" data-placement="top" title="Welcome to Lodi-Admin"></i>
  </div> -->
  <div class="box-login-mini-feeds">
    <div class="card">
      <i class="bi bi-chevron-down" id="Open-Closed" (click)="openclosed()"></i>
      <div class="card-content">
        <img src="assets/logo.png" alt="">
      </div>
      <p>Launching the lodi.ph</p>
      <video id="video" [autoplay]="false" loop="true" [controls]="true">
        <source src="">
      </video>
    </div>
  </div>
  
  <div class="side-form form bg-light">
    <div class="logo-container">
      <img src="assets/logo.png" alt="">
    </div>
    <div class="form">
      <h1 class="text-warning">Member Login</h1>
      <div class="form-group mx-sm-3 mb-2">
        <input type="email" class="form-control input" placeholder="Email" name="" id="" [(ngModel)]="username" (keyup.enter)="login()">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control input" id="inputPassword2" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
      </div>
      <span class="text-danger" data-toggle="modal" data-target="#forget-credentials">Forgot Username? or Password?</span>
    </div>
    <button class="login-button btn" (click)="login()">Login</button>
  </div>
  


</div>


<div class="modal " role="modal" data-backdrop="false" id="forget-credentials">
  <div class="modal-dialog modal-dialog-lg modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-body" data-dismiss="modal">
        <ion-item>
          <ion-label>Forgot UserName or Password?</ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</div>


