.main-wrapper{
    padding-top: 50px;
    
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.action-div{
    position: relative;
    width: 100%;
    float: left;
    clear: both;
  
 
    
}.action-div input[type="text"]{
    float: right;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #e3deda;
    padding-right: 30px;
}.fa{
    float: right;
    position: absolute;
    right: 0px;
    top: 10px;
    right: 5px;
}.alert{
    float: left;
    width: 500px;
    position: relative;
}.btn{
    position: relative;
    margin-right: 5px;
}table{
    background-color: #fff; 
    button{
        outline: none;
        position: relative;
        margin-right: 5px;
        color: #f5f5f5;
        background-color: #b83d9d;
        border: none;
        border-radius: 5px;
        z-index: 5;
    }tbody{
        height: auto;
        overflow: hidden;
        
    }
}
table thead tr th,table tbody tr td,table tbody tr th{
    text-align: center;
}.table tbody tr:hover{
    background-color: #dedede;
    cursor: pointer;
}.table tbody tr:active{
    background-color: #ccc;
    
}#selector{
    width: 100%;
    margin-top: -20px;
    margin-bottom: 30px;
    clear: both;
    display: block;
    position: relative;
}.pager{
    float: right;
    position: relative;
    clear: right; 
    margin-right: 20px;
    top: 20px;
}.pager ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
     
}.pager ul{
    list-style-type: none;
    padding: 0
}.pager ul li span:hover{
    text-decoration: underline;
}.btn{
    position: relative;
    margin-right: 5px;
    width: 50px;
    float: right;
}.action-btn:hover{
    height: 40px;
    width: 40px;
    transition: all 0.8s;
}
img{
    height: 20px;
    width: 20px;
}.useradd{
    position: relative;
    float: left;
    clear: both;
    width: 200px;
    margin-bottom: 10px;
}.form-control{
    margin-bottom: 10px;
}.tab-content-wrapper{
    position: relative;
    margin-top: 20px;
}.tblaction{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
     
    border-radius: 5px;
    outline: none;
}
.page{
    position: relative;
text-align: right;
 top: -50px;
   margin-left: auto;
   margin-right: auto;
  
}
.page button{
    position: relative;
    background-color: #333;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    font-size: large;
    color: white;
}
.page button:hover{
   background-color: #4a4a4a;
}

.showpage{
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
   
}.pagestablabel{
    width: 200px;
    height: 50px;
    float: left;
    clear: left;
    position: relative;
    
}
 .family{
     font-weight: bold;
 } .table-editable {
    position: relative;
    
    .glyphicon {
      font-size: 20px;
    }
  }
  
  .table-remove {
    color: #700;
    cursor: pointer;
    
    &:hover {
      color: #f00;
    }
  }
  
  .table-up, .table-down {
    color: #007;
    cursor: pointer;
    
    &:hover {
      color: #00f;
    }
  }
  
  .table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    
    &:hover {
      color: #0b0;
    }
  }.printbtn{
      position: relative;
      width: 100%;
      clear: both;
      float: left;
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid #dedede;
  }.printbtn:hover{
      background-color: #dedede;
      
  }.btn-danger{
      float: left;
      position: relative;
      clear: left;
      width: 150px;
  }