<<<<<<< Updated upstream
.main-wrapper{
    padding-top: 50px;
    
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.action-div{
    position: relative;
    width: 100%;
    float: left;
    clear: both;
  
 
    
}.action-div input[type="text"]{
    float: right;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #e3deda;
    padding-right: 30px;
}.fa{
    float: right;
    position: absolute;
    right: 0px;
    top: 10px;
    right: 5px;
}.alert{
    float: left;
    width: 500px;
    position: relative;
}.btn{
    position: relative;
    margin-right: 5px;
}table{
    border: 1px solid #f0eded;
    background-color: #fff; 
    button{
        outline: none;
        position: relative;
        margin-right: 5px;
        color: #f5f5f5;
        background-color: #ffc107;
        border: none;
        border-radius: 5px;
        z-index: 5;
        margin-top: 5px;
    }tbody{
        height: auto;
        overflow: hidden;
        
    }
}
table thead tr th,table tbody tr td,table tbody tr th{
    text-align: center;
    border: 1px solid #dedede;
}.table tbody tr:hover{
    background-color: #dedede;
    cursor: pointer;
}.table tbody tr:active{
    background-color: #ccc;
    
}#selector{
=======
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
>>>>>>> Stashed changes
    width: 100%;
  }
  
  #customers td, #customers th {

    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  tbody tr:hover {background-color: #ddd;}
  
<<<<<<< Updated upstream
  .table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    
    &:hover {
      color: #0b0;
    }
  }.printbtn{
      position: relative;
      width: 100%;
      clear: both;
      float: left;
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid #dedede;
  }.printbtn:hover{
      background-color: #dedede;
      
  }.upload{
      position: relative;
      float: left;
      margin-left: 10px;
      height: 45px;
  }.logo-wrapper{  
 
    #left{
        float: right;
        width: 100px;
        height: 100px;
    }#right{
        float: left;
        width: 100px;
        height: 100px;
    }
    
  }.submitreport{
      position: relative;
      width: 200px;
  }.alert-dark{
    max-width: 300px;
}.filter{
    position: relative;
    padding: 7px;
    border-radius: 5px;
}.filter-wrapper{
    position: relative;

}ul{
    
    padding: none;
    list-style-type: none;
    width: 100%;
    li{
        width: 100%;
        float: left;
        display: block;
        clear: both;
        span{
            position: relative;
            display: block;
            float: left;
            margin-right: 10px;
        }
    }
}.filterwrap{
    position: relative;
    span{
        display: block;
        position: relative;
        margin-right: 10px;
        padding: 7px;
        float: left;
        background-color: #ffc107;
        border-radius: 5px;
    }
}.reciept{
    width: 100px;
    height: 200px;
    position: relative;
    clear: both;
}
=======
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

.loading-tables{
    left:13rem;
    width: 200px;
    height:3rem;
}






>>>>>>> Stashed changes
