<div class="main-wrapper" id="canvas">
  <!-- <div class="action-div" id="contentToConvert">
    <div class="alert alert-dark" role="alert">
      request has
      <strong *ngIf="transactions">{{ transactions_count }}</strong> transactions
    </div>
   

    <div *ngIf="mybanks" class="alert bg-warning" id="mybanks" role="alert">
      <ion-list>
        <ion-radio-group [(ngModel)]="chosenAccount">
          <ion-list-header>
            <ion-label>Name</ion-label>
          </ion-list-header>
      
          <ion-item *ngIf="mybanks.accountno">
            <ion-label>Bank Acount no.: {{mybanks.accountno}}</ion-label>
            <ion-radio slot="start" value="accountno"></ion-radio>
          </ion-item>
      
          <ion-item *ngIf="mybanks.gcash">
            <ion-label>Gcash: {{mybanks.gcash}}</ion-label>
            <ion-radio slot="start" value="gcash"></ion-radio>
          </ion-item>
      
          <ion-item *ngIf="mybanks.paymaya">
            <ion-label>Paymaya: {{mybanks.paymaya}}</ion-label>
            <ion-radio slot="start" value="paymaya"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div class="alert bg-warning" style="float: right;clear: right;" role="alert">
      Redemmable {{redeemed}} Pesos
       <img class="reciept" (click)="openimage()" [src]="base64data" *ngIf="base64data"/> -->
       <!-- <button (click)="promiseCompressedImg()" >Upload Transfer Screenshot</button> -->
      <!-- <button *ngIf="redemmable"  class="btn btn-warning" style="float: left;clear: both;width: 200px;" (click)="redemmedaction($event,0)">Redemmed All</button>
    </div>  
  </div> -->
  
<div id="cover-spin"></div>

<div class="transaction-viewer">
  <img id="profile-pic" src="{{info.profile.name20}}" alt="" data-toggle="modal" data-target="#gallery">
  
  <div class="transaction-info bg-light">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">id</ion-label>
            <ion-input value="{{info.id}}" disabled="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">First Name : </ion-label>
            <ion-input disabled="true" [value]="info.fname"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last Name : </ion-label>
            <ion-input value="{{info.lname}}" disabled="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>



  
<div class="table-container">
  <table id="customers">
    <thead class="bg-warning">
    <tr>
      <th>name</th>
      <th>Talent</th>
      <th>Value</th>
      <th>Date Created</th>
      <th>Date Done</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody >
    <tr  *ngFor="let transaction of transactions;index as i"[attr.data-index]="i">
      <td (click)="showTransactions(transaction.id)">{{transaction.fan.fname}} {{transaction.fan.lname}}</td>
      <td>{{transaction.talent}}</td>
      <td>{{transaction.value}}</td>
      <td>{{transaction.date_created}}</td>
      <td>Not yet</td>
      <td><button class="btn btn-warning">actions</button></td>
    </tr>
    <div *ngIf="transactions_count === 0">
      <h3> No Transactions Yet</h3>
    </div>
    <tr class="placeholder-glow" id="loading">
      <h1>loading</h1>
    </tr>
    </tbody>
  </table >
  <div class="bg-light card-box" *ngIf="showup">
    <h5>{{profile_name}}</h5>
    <i class="bi bi-person"></i>
  </div>
</div>  

<!-- 
<div class="modal" role="modal" id="gallery" data-backdrop="false">
  <div class="modal-dialog dialog-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="bi bi-x-circle close" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <img src="{{info.profile.name20}}" alt="">
      </div>
    </div>
  </div>
</div> -->



  
  