<div class="main-wrapper" id="canvas">
  <div id="cover-spin"></div>

  <div class="action-div" id="contentToConvert">
    <div class="alert alert-dark" role="alert">
      he/she has
      <strong *ngIf="transactions">{{ transactions_count }}</strong> transactions right
      now
    </div>
    <input
      type="text"
      id="search"
      [(ngModel)]="search"
      (keyup.enter)="searchact()"
      placeholder="Search lodi"
    />

    <button class="tblaction" (click)="refreshed()">Refresh</button>
  </div>

  <div class="row">
    <div class="col-1"></div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Fan</th>
        <th>Amount</th>
        <th>Talent</th>
        <th>Status</th>
        <th>link</th>
        <th>Redeemed</th>
        <th>Date Request</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody *ngIf="transactions">
      <tr *ngFor="let item of transactions; index as i" [attr.data-index]="i">
        <td>{{item.fan.fname}} {{item.fan.lname}}</td>
        <td>{{item.value}}</td>
        <td>{{item.talent}}</td>
        <td><span *ngIf="item.accepted === false; else accepted">not yet responded</span><ng-template #accepted><span>Responded</span></ng-template>
        </td>
        <td></td>
        <td>
          <ion-label>Redem Status</ion-label>
    <ion-select placeholder="Select One" >
      <ion-select-option value="true" [selected]='item.redemmed'>Redemmed</ion-select-option>
      <ion-select-option value="false" [selected]='item.redemmed'>Not Yet Redemmed</ion-select-option>
    </ion-select>
          <ion-label style="color: red;" *ngIf="item.redemmed === false; else redemmed">not yet redemmed</ion-label><ng-template #redemmed><ion-label style="color: green;">redemmed</ion-label></ng-template>
        </td>
        <td>{{item.date_created}}</td>
        <td>
          
        </td>
        
      </tr>
    </tbody>
  </table>
  <div class="page showpage" *ngIf="!searchpass">
    <div class="pagestablabel"></div>
    Showing {{ page }} of {{ pagebtn.length }} pages&nbsp;&nbsp;<button
      *ngFor="let item of pagebtn"
      (click)="pager(item)"
    >
      {{ item }}
    </button>
  </div>
</div>
