<div class="main-wrapper" id="canvas">
    <!-- <div class="row logo-wrapper">
      <div class="col">
       <img id="left" src="assets/logo/barmm-logo.png" />
      </div>
      <div class="col">
       <img id="right" src="assets/logo/moh-logo.png" />
     </div>
    </div> -->
      <div id="cover-spin"></div>
          <!-- <app-modal [method]="method" [showId] = "showId" (done)='doneChange($event)'></app-modal> -->
               
          <div class="action-div" id="contentToConvert" >
                  <div class="alert alert-dark" role="alert" >
                          There are <strong *ngIf="lodis">{{lodisCount}}</strong> lodi right now
                      </div>
                      <!-- <button class="tblaction upload" (click)="addcert()" >UPLOAD RT-PCR</button>  -->
                     <!-- <button class="tblaction upload" data-toggle="modal" data-target="#report" *ngIf="userType == 1">Reports</button> -->
                  <input type="text" id="search" [(ngModel)]="search" (keyup.enter)="searchact()" placeholder="Search lodi"> 
                 
                  <button class="tblaction" (click)="refreshed()" >Refresh</button>
     
                 
              
          </div>

          <div class="row">
            <div class="col-12">
              <button class="filter" data-toggle="modal" data-target="#filter" >Filter</button>
            </div>
          </div>
          <!-- <select class="custom-select" id="selector" [(ngModel)]="filterCustomer" (change)="changeFilter()">
            <option value="all" selected>all</option>
            <option value="active">active</option>
            <option value="paid" selected>paid</option>
            <option value="repo">repo</option>
            
           
        </select> -->
         
      <!-- <div class="pager">
        <ul>
          <li><select class="custom-select" id="selector" class="selector2" [(ngModel)]="limit" (change)="changeLimit()">
            <option value="100">100 results</option>
            <option value="250">250 results</option>
            <option value="500">500 results</option>
            <option value="1000">1000 results</option>
            <option value="5000">5000 results</option>
            <option value="13000">13000 results</option>
            <option value="0">all results</option>
          </select></li>
         
        </ul>
      </div> -->
    
      
          <table class="table"  >
                  <thead class="thead-dark">
                    <tr>
                      <th>First Name</th> 
                      <th>Last Name</th> 
                      <th>Contact</th> 
                      <th>Email</th> 
                      <th>Social</th>
                      <th>Followers</th>
                      
                     
                      
                     
                      <!-- <th>EMPLOYMENT STATUS</th> -->
                      <!-- <th>SALARY</th> -->
                      
                      
                      
                      
                      
                      <th>Actions</th> 
                      
                    </tr>
                  </thead>
                  
     
                  <tbody *ngIf="lodis">
                    <tr *ngFor="let item of lodis;index as i" [attr.data-index]="i"  >
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)" >{{item.fname}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo"(click)="cached(item)" >{{item.lname}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.contact}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.email}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.social}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.followers}}</td>
               
                      
                      <!-- <td>{{item.employment_status}}</td>  -->
                      <!-- <td>{{item.voters_status}}</td>   -->
                      
                    <td> 
                      <!-- <button data-toggle="modal" (click)="editResident(item)">EDIT</button>  -->
                          <!-- <button data-toggle="modal" data-target="#exampleModalCenter"  (click)="familySelected(item.id)">FAMILY</button>  -->
                          <!-- <button (click)="viewCert()">PRINT</button>  -->
                          <!-- <button (click)="cacheData(item)" data-toggle="modal" data-target="#exampleModalLong" >PRINT</button> -->
                   
                       <button (click)="delete(item.id)" *ngIf="userType == 1">DELETE</button>
    
                     
                      </td>
                    </tr>
               
                 
                    
                   
                    
                   
                    <!-- <th>EMPLOYMENT STATUS</th> -->
                    <!-- <th>SALARY</th> -->
                    
                    
               
  
  
                 
  
  
  
                </tbody>
  
              </table>
              <div class="page showpage" *ngIf="!searchpass">
                <div class="pagestablabel" ></div>Showing {{page}} of {{pagebtn.length}} pages&nbsp;&nbsp;<button *ngFor="let item of pagebtn" (click)="pager(item)">{{item}}</button>
  
              </div>
  
  
  </div>
  
  
  
  <div class="modal fade" id="lodiinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row"> 
            <div class="col">
              <label>First Name</label>
              <input type="text" [(ngModel)]="fname" class="form-control">
            </div>
            <div class="col">
              <label>Last Name</label>
              <input type="text" [(ngModel)]="lname" class="form-control">
            </div>
           
          </div>
  
          <div class="row"> 
            <div class="col">
              <label>Email</label>
              <input type="text" [(ngModel)]="email" class="form-control">
            </div>
            <div class="col">
              <label>Contact</label>
              <input type="text" [(ngModel)]="contact" class="form-control">
            </div>
           
          </div>
          <div class="row"> 
            <div class="col">
              <label>Category</label>
              
              <select [(ngModel)]="category" class="form-control">
                <option *ngFor="let item of categories" [value]="item.value">{{item.title}}</option>
                
              </select>
  
              
            </div>
            
           
          </div>
          <div class="row"> 
            <div class="col">
              <label>Approve?</label>
              
              <select [(ngModel)]="approved" class="form-control">
                <option value="1" selected>Yes</option>
                <option value="0">Not now</option>
              </select>
  
              
            </div>
            
           
          </div>
      
        
    <button type="button"   data-dismiss="modal" class="btn btn-primary" (click)="updateLodi()" style="padding-right:60px">UPDATE</button>
   
         
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container >
            
          </ng-container>

          <ul class="filter-wrapper">
            <li *ngFor="let item of categories; index as i" [attr.data-index]="i">

              <span>{{item.title}}</span><input type="checkbox" value="item.value" (click)="cachedfilter($event,i)"/>
            </li>
          </ul>
          
        
        
    <button type="button"   data-dismiss="modal" class="btn btn-primary" (click)="filtercategory()" style="padding-right:60px">Done</button>
   
        </div>
  
      </div>
    </div>
  </div>
  
  
  