/*dskajhdjkashdkjhdkjhskadhkasjdh*/


/*dsdsalkdjsakldjaslkdjaslkdj*/
/* width */
$warning:#FFCC00;
$danger:#DC3545;
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFCC00; 

  }

  

.main-wrapper{
    padding-top: 50px;
    background-color: #ebebeb;
    width: 100%;
    margin-top: 5px;
    .navbar{
        .input_search{
            width: 28vw;
            .input-group-prepend{
                .input-group-text{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .btn-warning{
            width: 15vw;
        }
    }


    .card-box{
        width: 20vw;
        height: 15vw;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0;
        z-index: 999;
        border-radius: 30px;
        margin: 20px;
        text-align: center;
        animation: ease show-up 0.1s;
        i{
            font-size: 8vw;
            color: #a5a5a5;
        }
        img{
            object-fit: cover;
            width: 16vw;
            height: 12vw;
        }
        @keyframes show-up {
            0%{
                scale: 0;
            }
            100%{
                scale: 20vw;
            }
        }
    }
    .bi-pin-angle-fill{
        font-size: 1.3vw;
        position: absolute;
        right: 0;
        &:hover{
            color:$danger;
        }
        &:active{
            color:$warning;
        }
    }
}

.action-div{
    position: relative;
    width: 100%;
    float: left;
    clear: both;
}.fa{
    float: right;
    position: absolute;
    right: 0px;
    top: 10px;
    right: 5px;
}.alert{
    float: left;
    width: 500px;
    position: relative;
}.btn{
    position: relative;
    margin-right: 5px;
}table{
    
    background-color: #fff; 
    button{
        outline: none;
        position: relative;
        margin-right: 5px;
        color: #f5f5f5;
        background-color: #ffc107;
        border: none;
        border-radius: 5px;
        z-index: 5;
        margin-top: 5px;
    }tbody{
        height: auto;
        overflow: hidden;
        
    }
}
table thead tr th,table tbody tr td,table tbody tr th{
    text-align: center;

}.tabled{
    padding: 10px;
    width: 90%;
    margin: auto;
}


.table tbody tr:hover{
    background-color: #dedede;
    cursor: pointer;
}.table tbody tr:active{
    background-color: #ccc;
    
}#selector{
    width: 100%;
    margin-top: -20px;
    margin-bottom: 30px;
    clear: both;
    display: block;
    position: relative;
}.pager{
    float: right;
    position: relative;
    clear: right; 
    margin-right: 20px;
    top: 20px;
}.pager ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
     
}.pager ul{
    list-style-type: none;
    padding: 0
}.pager ul li span:hover{
    text-decoration: underline;
}.btn{
    position: relative;
    margin-right: 5px;
    width: 50px;
    float: right;
}.action-btn:hover{
    height: 40px;
    width: 40px;
    transition: all 0.8s;
}
.residentadd{
    position: relative;
    float: left;
    clear: both;
    width: 200px;
    margin-bottom: 10px;
}
.tab-content-wrapper{
    position: relative;
    margin-top: 20px;
}.tblaction{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    width: 75px;
    border-radius: 5px;
    outline: none;
}
.page{
    position: relative;
text-align: right;
 top: -50px;
   margin-left: auto;
   margin-right: auto;
  
}
.page button{
    position: relative;
    background-color: #333;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    font-size: large;
    color: white;
}
.page button:hover{
   background-color: #4a4a4a;
}

.showpage{
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
   
}.pagestablabel{
    width: 200px;
    height: 50px;
    float: left;
    clear: left;
    position: relative;
    
}
 .family{
     font-weight: bold;
 } .table-editable {
    position: relative;
    
    .glyphicon {
      font-size: 20px;
    }
  }
  
  .table-remove {
    color: #700;
    cursor: pointer;
    
    &:hover {
      color: #f00;
    }
  }
  
  .table-up, .table-down {
    color: #007;
    cursor: pointer;
    
    &:hover {
      color: #00f;
    }
  }
  
  .table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    
    &:hover {
      color: #0b0;
    }
  }.printbtn{
      position: relative;
      width: 100%;
      clear: both;
      float: left;
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid #dedede;
  }.printbtn:hover{
      background-color: #dedede;
      
  }.upload{
      position: relative;
      float: left;
      margin-left: 10px;
      height: 45px;
  }.logo-wrapper{  
 
    #left{
        float: right;
        width: 100px;
        height: 100px;
    }#right{
        float: left;
        width: 100px;
        height: 100px;
    }
    
  }.submitreport{
      position: relative;
      width: 200px;
  }.alert-dark{
    max-width: 300px;
}.filter{
    position: relative;
    padding: 7px;
    border-radius: 5px;
}.filter-wrapper{
    position: relative;

}ul{
    
    padding: none;
    list-style-type: none;
    width: 100%;
    li{
        width: 100%;
        float: left;
        display: block;
        clear: both;
        span{
            position: relative;
            display: block;
            float: left;
            margin-right: 10px;
        }
    }
}.filterwrap{
    position: relative;
    span{
        display: block;
        position: relative;
        margin-right: 10px;
        padding: 7px;
        float: left;
        background-color: #ffc107;
        border-radius: 5px;
    }
}

.dropshere{
    margin: 10px;
}

.justice-place{
    display: flex;
    justify-content: space-between;
}
.right-nav{
    position: relative;
    right: 0;
    height: 30rem;
    width: 21vh;
}

#add-account{
    border: 0px;
    text-decoration: none !important;
    .modal-dialog{
        .modal-content{
            .modal-header{
                ion-select{
                    font-size: 1.4vw;
                }
            }
        }
    }
}
























