<div class="main-wrapper" id="canvas">
 
      <div id="cover-spin"></div>
          <div class="action-div" id="contentToConvert" >
            <button mat-button (click)="opendialog()">dialog open</button>
                  <div class="alert alert-dark" role="alert" >
                          There are <strong *ngIf="lodis">{{lodisCount}}</strong> lodi right now
                      </div>
                  <input type="text" id="search" [(ngModel)]="search" (keyup.enter)="searchact()" placeholder="Search lodi"> 
                 
                  <button class="tblaction" (click)="refreshed()" >Refresh</button>
     
                 
              
          </div>

          <div class="row">
            <div class="col-1">
           </div>
            <div class="col-11" class="filterwrap">
              <ng-container *ngIf="filtergo"><span *ngFor="let item of filterarray">{{item}}</span></ng-container>
              
            </div>
          </div>
     
          <table class="table"  >
                  <thead class="thead-dark">
                    <tr>
                      <th>First Name</th> 
                      <th>Last Name</th> 
                      <th>Contact</th> 
                      <th>Email</th> 
                      <th>Social</th>
                      <th>Followers</th>
                    
                      <th>Actions</th> 
                      
                    </tr>
                  </thead>
                  
     
                  <tbody *ngIf="lodis">
                    <tr *ngFor="let item of lodis;index as i" [attr.data-index]="i"  >
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="opendialog()" >{{item.fname}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo"(click)="cached(item)" >{{item.lname}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.contact}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.email}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.social}}</td>
                      <td data-toggle="modal" data-target="#lodiinfo" (click)="cached(item)">{{item.followers}}</td>
                
                    <td> 
                      <button data-toggle="modal" (click)="talent_fee_chached(item)" data-toggle="modal" data-target="#talent_fee">Talent Fee</button> 
                      <button data-toggle="modal" (click)="transaction(item.id)" >View Redeem Requests</button> 
                      <button data-toggle="modal" (click)="cached(item)" data-toggle="modal" data-target="#bio">Bio</button> 
                      <button data-toggle="modal" (click)="cached(item)" data-toggle="modal" data-target="#talents">Talents</button> 
                       
                     
                      </td>
                    </tr>
               
                </tbody>
  
              </table>
              <div class="page showpage" *ngIf="!searchpass">
                <div class="pagestablabel" ></div>Showing {{page}} of {{pagebtn.length}} pages&nbsp;&nbsp;<button *ngFor="let item of pagebtn" (click)="pager(item)">{{item}}</button>
  
              </div>
  
  
  </div>
  
  
  
  <div class="modal fade" id="lodiinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col">
              <video  *ngIf="teaserplay" width="320" height="240" controls>
                <source   src="{{http.server}}{{teaserplay}}" type="video/mp4"> 
               
              </video>
            </div>
          </div>
          <div class="row" > 
            <div class="col">
              <label>First Name</label>
              <input type="text" [(ngModel)]="fname" class="form-control">
            </div>
            <div class="col">
              <label>Last Name</label>
              <input type="text" [(ngModel)]="lname" class="form-control">
            </div>
           
          </div>
  
          <div class="row"> 
            <div class="col">
              <label>Email</label>
              <input type="text" [(ngModel)]="email" class="form-control">
            </div>
            <div class="col">
              <label>Contact</label>
              <input type="text" [(ngModel)]="contact" class="form-control">
            </div>
           
          </div>
       
          <div class="row"> 
            <div class="col">
              <label>Approve?</label>
              
              <select [(ngModel)]="approved" class="form-control">
                <option value="1" selected>Yes</option>
                <option value="0">Not now</option>
              </select>
  
              
            </div>
            
           
          </div>
          
        
          <button type="button"   data-dismiss="modal" class="btn btn-primary" (click)="updateLodi()" style="padding-right:60px">UPDATE</button>
   
 
      
         
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       

          <ul class="filter-wrapper">
            <li *ngFor="let item of categories; index as i" [attr.data-index]="i">

              <span>{{item.title}}</span><input type="checkbox" value="item.value" (click)="cachedfilter($event,i)"/>
            </li>
          </ul>
          
        
        
    <button type="button"   data-dismiss="modal" class="btn btn-primary" style="padding-right:60px" (click)="filternow()">Done</button>
   
        </div>
  
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="teaser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Teaser</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          
          <div class="form-group col-12" >
          <input id="input-b4" class="form-control" name="input-b4[]" data-allowed-file-extensions='["mp4"]'  type="file" class="file" multiple  (change)="handleUpload($event)"
        data-show-upload="false" data-show-caption="true" data-msg-placeholder="Select {files} for upload...">
      </div>
        
       
    <button type="button"   data-dismiss="modal" class="btn btn-primary" style="padding-right:60px" (click)="uploadteaser()">Done</button>
   
        </div>
  
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="talent_fee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Talent Fee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
          <div class="row">

          
          <div class=" col-6" >
            <input class="form-control" value="Direct Message" disabled type="text" placeholder="Default input" disabled>
      </div>
      <div class=" col-6" >
        <input class="form-control" type="text" placeholder="Amount" [(ngModel)]="dmamount" disabled>
  </div>
</div>

<div class="row">

          
  <div class=" col-6" >
    <input class="form-control" value="Fan Sign" disabled type="text" placeholder="Default input">
</div>
<div class=" col-6" >
<input class="form-control" type="text" placeholder="Amount" [(ngModel)]="fansignamount" disabled>
</div>
</div>
<div class="row">

          
  <div class=" col-6" >
    <input class="form-control" value="Video Greetings" disabled type="text" placeholder="Default input">
</div>
<div class=" col-6" >
<input class="form-control"  type="text" placeholder="Amount" [(ngModel)]="videogreetingsamount" disabled>
</div>
</div>
        
       
    <button type="button"   data-dismiss="modal" class="btn btn-primary" style="padding-right:60px" (click)="update_talentfee()" disabled>UPDATE</button>
   
        </div>
  
      </div>
    </div>
  </div>



  <div class="modal fade" id="bio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Bio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">Example label</label> -->
            <textarea disabled [(ngModel)]="bio" class="form-control" rows="7" placeholder="Example input">


            </textarea>
          </div>
        
    <button type="button" disabled   data-dismiss="modal" class="btn btn-primary" style="padding-right:60px" (click)="addbio()">Done</button>
   
        </div>
  
      </div>
    </div>
  </div>


  <div class="modal fade" id="talents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Talents</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-11" class="filterwrap">
            <ul class="filter-wrapper">
              <li *ngFor="let item of categories; index as i" [attr.data-index]="i">
  
                <span>{{item.title}}</span><input type="checkbox" value="item.value" (click)="cachedfilter($event,i)"/>
              </li>
            </ul>
          </div>
        
    <button type="button"   data-dismiss="modal" class="btn btn-primary" style="padding-right:60px" (click)="addtalent()">Done</button>
   
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  
  