.sidenav{
    position: fixed;
    height: 100%;
    width: 300px;
}
.search{
    margin: 10px;
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
    border: transparent;
}
.chat-section{
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 100px;
    margin: 20px;
}
.avatar{
    position: absolute;
    left: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
#logo{
    width: 50px;
    height: 50px;
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
}
h3{
    margin-left: 20rem;
    margin: auto;
}
#message{
    margin: auto;
    border-radius: 20px;
    width: 35rem;
    height: 3rem;
    border: transparent;
    z-index: 1;
    background-color: rgb(233, 233, 233);
}#send-container{
    background-color: gold;
    height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 50px;
}#gallary{
    position: absolute;
    left: 60%;
    background-color: gold;
    font-size: 30px;
    border-radius: 50px;
    width: 50px;
}
.message-bubble{
    width: 500px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
}
#body{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.avatar-chat{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    left: 35rem;
}
#dotss{
    font-size: 30px;
}






